@model ErtisAuth.Hub.ViewModels.Auth.ForbiddenViewModel

@{
    ViewData["Title"] = "Forbidden";
}

<div class="post d-flex flex-column-fluid" style="margin-top: -50px;">
    <div id="kt_content_container" class="container-fluid">
        <h3>Forbidden</h3>
        
        <div style="border: 1px dashed #979899; background: white; padding: 25px 30px; margin-top: 15px;">
            <div class="row">
                <div class="col-xl-12">
                    <div class="alert alert-danger alert-elevate" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning"></i></div>
                        <div class="alert-text">
                            You do not have sufficient permissions to view this page or perform this action. Please contact your administrator.
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.Rbac))
                    {
                        <div style="margin-top: 38px;">
                            <h5>You are missing at least one of the following required permissions:</h5>
                            <span>@Model.Rbac</span>

                            <p style="margin-top: 18px;">Check that the resource is valid and you have permissions to access it.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>