@using ErtisAuth.Hub.Helpers
@model CustomTypeField

<div class="alert alert-danger d-flex align-items-center" style="padding: 6px 13px !important; margin: 0 !important;">
    <span class="svg-icon svg-icon-2 svg-icon-danger me-4">
        @Html.Raw(SvgIcons.Danger)
    </span>
    
    <div class="d-flex flex-column">
        <strong class="text-danger">This field type ('@Model.Type.ToString()') is not supported yet</strong>
    </div>
</div>