body {
    --kt-toolbar-height: 55px;
    --kt-toolbar-height-tablet-and-mobile: 55px
}

.vertical-center-flex
{
    display: flex; 
    align-items: center;
}

.user-box {
    padding: 5px 10px;
    border: 1px solid transparent;
    margin-right: -15px;
}

.user-box:hover {
    background: linear-gradient(90deg, rgba(247,248,249,1) 0%, rgba(255,255,255,1) 100%);
    border: 1px solid #e5e6e7;
    border-radius: 4px;
}

.btn-wide {
    min-width: 100px;
}

.btn-widest {
    min-width: 130px;
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }
}

.validation-error-span {
    color: #f12f59 !important;
    font-weight: 600 !important;
    font-size: 0.85rem !important;
}

.fv-plugins-message-container {
    color: #f12f59 !important;
    font-weight: 600 !important;
    font-size: 0.85rem !important;
}

.dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0 !important;
    border: 1px solid #e7e7e7 !important;
}

.dropdown-button {
    display: flex;
    align-items: center;
}

.table-responsive {
    position: static !important;
}

.btn-icon-sm {
    width: 30px !important;
    height: 30px !important;
    padding: 6px 9px !important;
}

.btn-icon-xsm {
    width: 22px !important;
    height: 22px !important;
    padding: 1px 5px !important;
}

.non-box-shadow {
    box-shadow: none !important;
}

.border-right-solid-1-gray-200 {
    border-right: 1px solid #eff2f5!important;
}

.input-group-append > .btn {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border: 1px solid #e3e6ef!important;
}

.no-fixed-toolbar {
    position: absolute;
    height: calc(100% + 40px) !important;
    width: 100% !important;
    top: -85px !important;
}

div.dataTables_wrapper div.dataTables_processing {
    background-color: #1e1e2d !important;
    color: #ffffff !important;
    min-width: 300px !important;
    display: block;
    position: absolute;
    width: 400px;
    top: calc(50% - 4rem);
    left: calc(50% - 200px);
    text-align: center;
    padding: 3rem 2rem !important;
}

.sessions-floating-box {
    background: white; 
    position: absolute; 
    top: 170px; 
    right: 290px; 
    height: calc(100vh - 150px); 
    width: 480px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.no-gutter-datatable > tbody > tr > td {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.dataTable.table-hover>tbody>tr>td:first-child {
    padding-left: 20px;
}

.dataTable.table-hover>tbody>tr>td:last-child {
    padding-right: 20px;
}

.dataTable.narrow-table>tbody>tr>td {
    padding-top: .95rem;
    padding-bottom: .95rem;
}

.narrow-table-container {
    padding: 0 !important;
}

.narrow-table-container>.dataTables_wrapper>.row:nth-last-of-type(1) {
    padding: 15px 22px 15px 27px;
}

.ubac-source-user { }

.ubac-source-user:hover { }

.ubac-source-role { }

.ubac-source-role:hover { }

.ubac-source-role>td:first-child:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: #50cc89;
    padding-left: 0.25rem;
    font-weight: 700;
}

.from-role-info-span {
    display: block;
    font-style: italic;
    margin-top: 8px;    
}

.from-role-info-span:before {
    content: "*";
    position: relative;
    font-size: inherit;
    color: #50cc89;
    padding-right: 0.25rem;
    font-weight: 700;
}

.marginless_datatable_wrapper > .dataTables_wrapper > .row {
    padding: 0 10px 0 20px;
    margin-left: 0!important;
    margin-right: 0!important;
}

.mt-1-px {
    margin-top: 1px !important;
}

.mt-2-px {
    margin-top: 2px !important;
}

.mt-3-px {
    margin-top: 3px !important;
}

.mt-4-px {
    margin-top: 4px !important;
}

.mt-5-px {
    margin-top: 5px !important;
}

.mt-6-px {
    margin-top: 6px !important;
}

.mt-7-px {
    margin-top: 7px !important;
}

.mt-8-px {
    margin-top: 8px !important;
}

.mt-9-px {
    margin-top: 9px !important;
}

.mb-1-px {
    margin-bottom: 1px !important;
}

.mb-2-px {
    margin-bottom: 2px !important;
}

.mb-3-px {
    margin-bottom: 3px !important;
}

.mb-4-px {
    margin-bottom: 4px !important;
}

.mb-5-px {
    margin-bottom: 5px !important;
}

.mb-6-px {
    margin-bottom: 6px !important;
}

.mb-7-px {
    margin-bottom: 7px !important;
}

.mb-8-px {
    margin-bottom: 8px !important;
}

.mb-9-px {
    margin-bottom: 9px !important;
}

.ml-1-px {
    margin-left: 1px !important;
}

.ml-2-px {
    margin-left: 2px !important;
}

.ml-3-px {
    margin-left: 3px !important;
}

.ml-4-px {
    margin-left: 4px !important;
}

.ml-5-px {
    margin-left: 5px !important;
}

.ml-6-px {
    margin-left: 6px !important;
}

.ml-7-px {
    margin-left: 7px !important;
}

.ml-8-px {
    margin-left: 8px !important;
}

.ml-9-px {
    margin-left: 9px !important;
}

.mr-1-px {
    margin-right: 1px !important;
}

.mr-2-px {
    margin-right: 2px !important;
}

.mr-3-px {
    margin-right: 3px !important;
}

.mr-4-px {
    margin-right: 4px !important;
}

.mr-5-px {
    margin-right: 5px !important;
}

.mr-6-px {
    margin-right: 6px !important;
}

.mr-7-px {
    margin-right: 7px !important;
}

.mr-8-px {
    margin-right: 8px !important;
}

.mr-9-px {
    margin-right: 9px !important;
}