@model ErtisAuth.Hub.ViewModels.Users.UserViewModel

<div class="tab-pane fade" id="kt_user_view_overview_events_and_logs_tab" role="tabpanel">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Events</h3>
		</div>
							
		<div class="card-body narrow-table-container">
			<table id="events_data_table" class="table table-hover narrow-table align-middle table-row-dashed fs-6 gy-5">
				<thead>
				<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
					<th class="w-10px pe-2"></th>
					<th class="min-w-125px">Id</th>
					<th class="min-w-125px">Event Type</th>
					<th class="min-w-125px">Event Time</th>
					<th class="text-end min-w-100px"></th>
				</tr>
				</thead>
            
				<tbody class="text-gray-600 fw-bold">
            
				</tbody>
			</table>
		</div>
	</div>
</div>