<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">@DateTime.Now.Year ©</span>
            <a href="https://ertis.io" target="_blank" class="text-gray-800 text-hover-primary">Ertis INC.</a>
        </div>
        
        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <span class="d-flex align-items-center fs-8">Last build
                    <span class="badge fw-bold fs-9 px-2 ms-2 badge-light-dark shadow-sm">@Program.GetEnvironmentParameter("BuildTime")</span>
                </span>
            </li>
        </ul>
    </div>
</div>