@model ErtisAuth.Hub.ViewModels.Applications.ApplicationCreateViewModel

<div id="createApplicationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createApplicationModalLabel" aria-hidden="true" data-bs-backdrop="static" style="display: none;">
	<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="createApplicationModalLabel" class="modal-title vertical-center-flex">
					<i class="bi bi-tv text-primary fs-2x me-4"></i>
					<span>Create Application</span>
				</h5>
	            
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="bi bi-x-lg"></i>
				</div>
			</div>
            
			<div class="modal-body">
				<form id="CreateApplicationForm" method="post" asp-controller="Applications" asp-action="Create">
					<div class="px-6 py-5">
						<div class="row mb-6">
							<div class="col-lg-2 col-xl-3">
								<label class="col-form-label required fw-bold fs-6">Name</label>
							</div>
                    
							<div class="col-lg-10 col-xl-9">
								<input id="createApplicationForm_NameInput" type="text" class="form-control" placeholder="Name" asp-for="Name">
								<span class="validation-error-span" asp-validation-for="Name"></span>
							</div>
						</div>

						<div class="row mb-6">
							<div class="col-lg-2 col-xl-3">
								<label class="col-form-label required fw-bold fs-6">Role</label>
							</div>
                    
							<div class="col-lg-10 col-xl-9">
								<select class="form-control form-select" id="rolesDropdown" asp-for="Role" asp-items="Model.RoleList"></select>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-success btn-sm" form="CreateApplicationForm">Create</button>
			</div>
		</div>
	</div>
</div>