@using ErtisAuth.Hub.Helpers
@using ErtisAuth.Hub.ViewModels
@model ErtisAuth.Hub.ViewModels.Applications.ApplicationViewModel

@{
    ViewData["Title"] = "Applications";
}

<div class="toolbar" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Application Details</h1>
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            
            @{
                var breadcrumb = BreadcrumbBuilder
                    .Add("Home", "Index", "Home")
                    .Add("Applications", "Index", "Applications")
                    .Add(Model.Id, "Detail", "Applications", new { id = Model.Id });
            }
            
            <partial name="Partials/_Breadcrumb" model="@breadcrumb"/>
        </div>
		
        <div class="d-flex align-items-center py-1">
            <partial name="Partials/_AuthorizedButton" model="@AuthorizedButtonViewModel.SaveButton(Model.Id, "applications", "UpdateApplicationForm")" />
        </div>
    </div>
</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
	<div id="kt_content_container" class="container-fluid">
        <partial name="Partials/_AlertBox" model="Model" />
        
        <div class="d-flex flex-column flex-lg-row">
            <div class="flex-lg-row-fluid me-10">
	            <div class="card card-bordered mb-5 mb-xl-10">
		            <div class="card-header">
			            <div class="card-title">
				            <div class="d-flex align-items-center position-relative my-1">
					            <h4>Application Info</h4>
				            </div>
			            </div>
		            </div>
                                    	
		            <div class="card-body">
			            <form id="UpdateApplicationForm" method="post" asp-controller="Applications" asp-action="Update">
				            @Html.HiddenFor(x => x.Id)
                        
				            <div class="mb-10">
					            <label class="form-label required">Name</label>
					            <input id="createApplicationForm_NameInput" type="text" class="form-control" placeholder="Name" asp-for="Name">
					            <span class="validation-error-span" asp-validation-for="Name"></span>
				            </div>

				            <div class="mb-10">
					            <label class="form-label required">Role</label>
					            <select class="form-control form-select" id="rolesDropdown" asp-for="Role" asp-items="Model.RoleList"></select>
					            <span class="validation-error-span" asp-validation-for="Role"></span>		                    
				            </div>
			            </form>

			            <div class="mb-10">
				            <label class="form-label">Basic Token</label>
				            <input type="text" class="form-control form-control-solid" placeholder="Basic Token" value="@Model.BasicToken" disabled>
			            </div>
		            </div>
	            </div>
            </div>

            <div class="flex-column flex-lg-row-auto w-lg-300px w-xl-400px">
                <partial name="Partials/_ResourceDetailsCard" />
            </div>
        </div>
	</div>
</div>