@using ErtisAuth.Hub.Helpers
@model ErtisAuth.Hub.ViewModels.ViewModelBase

@if (Model?.IsSuccess != null)
{
    var title = string.Empty;
    var messages = Array.Empty<string>();
    string css;
    string icon;
    
    if (Model.IsSuccess.Value)
    {
        if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            title = Model.SuccessMessage;
        }
        
        css = "success";
        icon = "info";
    }
    else
    {
        if (Model.Errors != null && Model.Errors.Any())
        {
            title = "Error";
            if (Model.Error != null)
            {
                title = Model.Error.Message;
            }
            else if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                title = Model.ErrorMessage;
            }
            
            messages = Model.Errors.ToArray();
        }
        else if (Model.Error != null)
        {
            title = Model.Error.Message;
            messages = new[] { $"Error Code: '{Model.Error.ErrorCode}'" };
        }
        else if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            title = Model.ErrorMessage;
        }

        css = "danger";
        icon = "warning";
    }
    
    <div class="alert alert-dismissible d-flex flex-column flex-sm-row w-100 p-5 border border-dashed border-@css bg-light-@css">
        <span class="svg-icon svg-icon-2hx svg-icon-@css me-4 mb-5 mb-sm-0 vertical-center-flex">
            @Html.Raw(SvgIcons.GetByName(icon))
        </span>
            
        @if (messages.Any())
        {
            <div class="d-flex flex-column pe-0 pe-sm-10">
                <h5 class="mb-1">@title</h5>
                @foreach (var message in messages)
                {
                    <span>@message</span>
                }
            </div>
        }
        else
        {
            <div class="d-flex vertical-center-flex">
                <h5 class="mb-1">@title</h5>
            </div>
        }

        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
            <i class="bi bi-x fs-1 text-@css"></i>
        </button>
    </div>
}